[submodule "resemble-enhance"]
	path = src/third_party/resemble-enhance
	url = https://github.com/boomyao/resemble-enhance.git
[submodule "src/third_party/BigVGAN"]
	path = src/third_party/BigVGAN
	url = https://github.com/boomyao/BigVGAN.git
